<p class="auth_title">Sign up to work</p>
<div 
    class="message"
    *ngIf="message !== ''">{{ message }}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="login">Login</label>
        <input
            type="text"
            id="login"
            placeholder="Enter your login"
            formControlName="login"
        >
        <div *ngIf="form.get('login').invalid && form.get('login').touched"
            class="help-text" >
            Login empty!
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control underlined"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
        >
        <span   class="help-text"
                *ngIf="form.get('password').invalid && form.get('password').touched">
            <span *ngIf="form.get('password')['errors']['required']">Password empty!</span>
            <span *ngIf="form.get('password')['errors']['minlength']">
                Password less then {{form.get('password')['errors']['minlength']['requiredLength']}}
                characters! Now - {{form.get('password')['errors']['minlength']['actualLength']}}</span>
        </span>
    </div>
    <div class="form-group">
        <label for="team">Team name</label>
        <input
            type="text"
            id="team"
            placeholder="Enter your team"
            formControlName="team"
        >
        <div *ngIf="form.get('login').invalid && form.get('login').touched"
            class="help-text" >
            Enter name your team!
        </div>
    </div>
    <div class="form-group">
        <label for="access">Access</label>
        <select name="access" id="access" formControlName="access">
            <option value="manager">Manager</option>
            <option value="developer">Developer</option>
        </select>
        <div *ngIf="form.get('access').invalid && form.get('access').touched"
            class="help-text" >
            Choose access!
        </div>
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn auth_btn">Sign up</button>
    <p class="auth_bottom">
        Already have an account? <a [routerLink]="'/login'">Login!</a>
    </p>
</form>

