.main {
    &-wrap {
        border: 1px solid #0101;
        border-radius: 4px;
        box-shadow: 4px 5px 10px #1b1f544a;
        margin-top: 50px;
        &_team {
            text-align: center;
            background: #0a2075de;
            color: #fff;
            font-size: 28px;
            padding: 20px;
            border-radius: 4px 4px 0 0;
        }
        &__content {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    &__dev {
        border-right: 1px solid #0a2075de;
    }
    &__dev, &__tasks {
        width: 49%;
        padding: 20px 15px;
        &_title {
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
        }
        &_item {
            width: 100%;
            padding: 10px 20px;
            border: 1px solid #0a1f753d;
            border-radius: 4px;
            margin-bottom: 15px;
            transition: .2s ease-out;
            display: block;
            text-decoration: none;
            color: #0a1f75;
        }
        .main__dev_item {
            &:hover {
                cursor: pointer;
                box-shadow: 1px 1px 5px #1b1f544a;
            }
        }
    }
    &__tasks {
        span {
            display: block;
        }
        &_name {
            margin-bottom: 10px;
            font-weight: 600;
        }
    }
}
span.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-size: 24px;
    font-weight: 600;
}